# Ignore everything
*

# Don't ignore the elisp directory
!elisp/

# Don't ignore .gitignore or *.org files
!.gitignore
!*.org

# And don't ignore .el files
!*.el

# ... except for these
emacs-custom.el