# Ignore all directories
/*/
/*

# Don't ignore the snippets and elisp directories
!snippets/
!lisp/

# Don't ignore .gitignore or *.org files
!.gitignore
!*.org

# And don't ignore .el files
!*.el

# ... except for these
emacs-custom.el